@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  body {
    font-family: "Exo 2";
    overflow: hidden;
  }

  .bgText{
    background-image: url("https://res.cloudinary.com/dydh2rfnk/image/upload/v1734600583/NBT-Chandrayaan3/assets/pages/bf80rptamqi3qqw9szmp.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bgCover {
    background-image: url("https://res.cloudinary.com/dydh2rfnk/image/upload/v1734583774/NBT-Chandrayaan3/assets/coverImages/home/ccn7ytwb0cf03bbcpbp2.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/* Reduce scrollbar width */
::-webkit-scrollbar {
  width: 1px; /* Set the width of the scrollbar */
}

/* Track styling */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the track */
}

/* Thumb styling */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 10px; /* Rounded edges */
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}


/* Force landscape orientation */
@media screen and (orientation: portrait) {
  .force-landscape {
    transform: rotate(90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

