@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Exo 2";
    overflow: hidden;
  }

  .bgCover {
    background-image: url("https://res.cloudinary.com/dydh2rfnk/image/upload/v1734583774/NBT-Chandrayaan3/assets/coverImages/home/ccn7ytwb0cf03bbcpbp2.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
